@media (min-width: 1400px) and (max-width: 1599.99px) {

    /* home page 1 start */
    .banner_slider .nextArrow,
    .banner_slider .prevArrow {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 30px;
        right: 50px;
    }

    .banner_slider .prevArrow {
        left: 50px;
    }

    .about_img {
        width: 640px;
        left: -30px;
    }

    .about_text h2 {
        font-size: 32px;
    }

    /* home page 1 end */

    .author_share {
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1399.99px) {

    /* home page 1 start */
    .banner_slider_img {
        height: 500px;
    }

    .banner_slider .nextArrow,
    .banner_slider .prevArrow {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 30px;
        right: 30px;
    }

    .banner_slider .prevArrow {
        left: 30px;
    }

    .about_img {
        width: 520px;
        left: 0;
    }

    .about_text h2 {
        font-size: 30px;
    }

    .about_text a {
        margin-bottom: 30px;
    }

    .trendy_news_img {
        height: 335px;
    }

    .artical_area .margin_right {
        padding-right: 35px;
    }

    .single_article_img {
        height: 250px;
    }

    .featured_post .title {
        margin-bottom: 10px;
    }

    .gallery_item {
        height: 300px;
    }

    .sidebar_about_img {
        height: 180px;
    }

    .sidebar_about ul {
        padding: 0px 15px;
        padding-bottom: 15px;
    }

    .sidebar_popular_post .trendy_news_text {
        padding: 20px;
    }

    .sidebar_popular_post .list li .text {
        width: 63%;
    }

    .sidebar_popular_post .list li .text a {
        font-size: 14px;
    }

    .sidebar_instagram ul li {
        height: 80px;
    }

    .large_artical_text {
        padding: 30px;
    }

    .title {
        font-size: 20px;
    }

    .trendy_slider .nextArrow,
    .trendy_slider .prevArrow {
        right: -20px;
    }

    .trendy_slider .prevArrow {
        left: -20px;
    }

    /* home page 1 end */

    .banner_2_text p {
        margin-top: 160px;
    }

    .blog .sidebar_about_img {
        width: 200px;
        height: 200px;
    }

    /* single blog 1 start */
    .blog_details .margin_right {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .blog_details_img {
        height: 500px;
    }

    .author_share {
        display: none;
    }

    .blog_details_header li {
        margin-top: 20px;
        font-size: 14px;
    }

    .blog_details_header li span {
        font-size: 12px;
        padding: 4px 20px;
    }

    .blog_details_header {
        margin-top: 0;
    }

    .details_quot_text {
        font-size: 18px;
    }

    .blog_details_video {
        height: 500px;
    }

    .blog_center_img {
        height: 400px;
    }

    .details_blooger_text {
        width: 66%;
    }

    .blog_det_button li {
        width: 48%;
    }

    .single_comment .text {
        width: 86%;
    }

    .comment_reply .text {
        width: 84%;
    }

    .single_comment .text h3 span {
        display: block;
        margin-top: 10px;
        width: 100%;
    }

    /* single blog 1 end */
}

@media (min-width: 992px) and (max-width: 1199.99px) {

    /* home page 1 start */
    .main_menu ul .nav-item .nav-link {
        font-size: 14px;
        padding: 0px 12px;
    }

    .banner_slider .nextArrow,
    .banner_slider .prevArrow {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 22px;
        right: 20px;
    }

    .banner_slider .prevArrow {
        left: 20px;
    }

    .about_img {
        width: 450px;
        left: -15px;
    }

    .about_text h2 {
        font-size: 28px;
    }

    .about_text a {
        margin-bottom: 60px;
    }

    .artical_area .margin_right {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .large_artical_text {
        padding: 30px;
    }

    .large_artical_img {
        height: 380px;
    }

    .single_article_img {
        height: 200px;
    }

    .single_article_text ul li {
        font-size: 12px;
    }

    .button_bg {
        font-size: 14px;
        padding: 6px 20px;
    }

    .weekly_news .single_article_img {
        height: 360px;
    }

    .gallery_item {
        height: 300px;
    }

    .trendy_slider .nextArrow,
    .trendy_slider .prevArrow {
        right: 0;
    }

    .trendy_slider .prevArrow {
        left: 0;
    }

    /* home page 1 end */

    /* home page 2 start */
    .sidebar_popular_post .list li .text {
        width: 67%;
    }

    .sidebar_popular_post .list li .text a {
        font-size: 16px;
    }

    /* home page 2 end */

    /* about us page start */
    .about_banner {
        height: auto;
    }

    .about_banner_text h2 {
        font-size: 24px;
    }

    /* about us page end */

    .category_item .single_article_img {
        height: 320px;
    }

    .blog .margin_right {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .contact_img {
        height: auto;
    }

    .contact_form {
        margin-top: 30px;
    }

    .cntact_map {
        height: 450px;
    }

    /* single blog 1 start */
    .blog_details .margin_right {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .blog_details_img {
        height: 400px;
    }

    .author_share {
        display: none;
    }

    .blog_details_header li {
        margin-top: 20px;
        font-size: 14px;
    }

    .blog_details_header li span {
        font-size: 12px;
        padding: 4px 20px;
    }

    .blog_details_header {
        margin-top: 0;
    }

    .details_quot_text {
        font-size: 18px;
    }

    .blog_details_video {
        height: 400px;
    }

    .blog_center_img {
        height: 400px;
    }

    .details_blooger_text {
        width: 53%;
    }

    .blog_det_button li {
        width: 48%;
    }

    .single_comment .text {
        width: 81%;
    }

    .comment_reply .text {
        width: 78%;
    }

    .single_comment .text h3 span {
        display: block;
        margin-top: 10px;
        width: 100%;
    }

    /* single blog 1 end */
}

@media (min-width: 768px) and (max-width: 991.99px) {

    /* home page 1 start */
    header {
        height: 60px;
        line-height: 60px;
    }

    .main_menu .menubar_icon {
        display: none;
    }

    .navbar-brand {
        display: block !important;
        width: 150px;
        margin-left: 15px;
    }

    .main_menu .container {
        padding: 11px 0;
    }

    .navbar-toggler {
        margin-right: 15px;
    }

    #navbarSupportedContent {
        background: var(--colorWhite);
        position: relative;
        z-index: 9;
        margin-top: 18px;
        border-bottom: 1px solid var(--colorPrimary);
        padding-top: 20px;
        padding-bottom: 40px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .main_menu .navbar-nav {
        line-height: 60px;
    }

    .main_menu ul .nav-item .nav-link {
        text-align: center;
    }

    .main_menu .search_form {
        width: 80%;
        margin: 0 auto;
        margin-top: 15px;
    }

    .main_menu .droap_menu {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .main_menu .child_category {
        left: 20px;
    }

    .banner_slider_text {
        padding: 20px;
    }

    .banner_slider_img {
        height: 500px;
    }

    .banner_slider_text ul li {
        font-size: 12px;
        margin-right: 15px;
    }

    .title {
        font-size: 20px;
    }

    .about_img {
        width: 100%;
        left: 0;
    }

    .about_text h2 {
        font-size: 24px;
    }

    .title {
        font-size: 24px;
    }

    .about_text {
        margin-top: 20px;
    }

    .about_text a {
        margin-bottom: 30px;
    }

    .artical_area .margin_right {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .large_artical_text {
        padding: 20px;
    }

    .large_artical_text a {
        font-size: 24px;
    }

    .button_bg {
        padding: 9px 25px;
    }

    .large_artical_img {
        height: 400px;
    }

    .large_artical_text .play_btn {
        bottom: auto;
        top: 50px;
    }

    .single_article_text ul li {
        margin-bottom: 15px;
    }

    .single_article_img {
        height: 220px !important;
    }

    .category_item .single_article_text {
        margin-top: 20px;
    }

    .sodebar_add {
        height: 300px;
    }

    .sidebar_popular_post .list li .text a {
        font-size: 16px;
    }

    .sidebar_popular_post .trendy_news_text {
        padding: 20px;
    }

    .weekly_news .single_article_img {
        height: 400px;
    }

    .weekly_news .trendy_news_img {
        height: 400px;
    }

    .single_article_text .title {
        margin-top: 0;
    }

    .weekly_news .single_article {
        margin-bottom: 30px;
    }

    .featured_post .title {
        margin-bottom: 15px;
    }

    .gallery_item {
        height: 290px;
    }

    .banner_slider_text a {
        font-size: 24px;
    }

    .artical_sidebar {
        margin-top: 60px;
    }

    .banner_slider .nextArrow,
    .banner_slider .prevArrow {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        right: 20px;
    }

    .banner_slider .prevArrow {
        left: 20px;
    }

    /* home page 1 end */

    /* home page 2 start */
    .home_2 .main_menu {
        top: 60px;
        background: var(--colorWhite);
    }

    .home_2 .main_menu ul .nav-item .nav-link {
        color: var(--colorBlack);
    }

    .banner_2_text h1 {
        font-size: 36px;
    }

    .banner_2_text .button_bg {
        font-size: 14px;
    }

    .banner_2 {
        height: auto;
    }

    .banner_2_text {
        padding-top: 220px;
    }

    .banner_2_text p {
        margin-top: 100px;
        padding-bottom: 90px;
    }

    .banner_2_text p span {
        font-size: 18px;
    }

    .artical_filter {
        justify-content: center;
    }

    .artical_filter button {
        font-size: 14px;
        margin-right: 20px;
        padding-right: 20px;
        margin-top: 10px;
    }

    .artical_area_2 .heading {
        margin-bottom: 10px;
    }

    .artical_area_2 .common_btn {
        margin-top: 23px;
        font-size: 14px;
    }

    .video .trendy_news_img {
        height: 370px;
    }

    .common_btn {
        font-size: 14px;
    }

    .blog .margin_right {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .single_blog .single_article_text .title {
        margin-top: 20px;
    }

    .footer_text .footer_menu li a {
        font-size: 12px;
        margin: 0px 15px;
    }

    .single_blog .single_article_img {
        height: 270px;
    }

    .blog .sidebar_about_img {
        width: 200px;
        height: 200px;
    }

    .blog .sidebar_popular_post .list li .text {
        width: 65%;
    }

    .sidebar_instagram ul li {
        height: 80px;
    }

    /* home page 2 end */


    /* about us page start */
    .about_banner {
        height: auto;
    }

    .about_banner_text h2 {
        font-size: 24px;
    }

    .about_banner_text {
        padding-right: 0;
    }

    .about_banner_text.text_2 {
        padding-left: 0;
    }

    .related_post .title {
        font-size: 16px;
    }

    /* about us page end */
    .contact_img {
        height: auto;
    }

    .contact_form {
        margin-top: 30px;
    }

    .cntact_map {
        height: 400px;
    }

    .error_text h2 {
        font-size: 48px;
    }

    /* single blog 1 start */
    .blog_details .margin_right {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .blog_details_img {
        height: 400px;
    }

    .author_share {
        display: none;
    }

    .blog_details_header li {
        margin-top: 20px;
        font-size: 14px;
    }

    .blog_details_header li span {
        font-size: 12px;
        padding: 4px 20px;
    }

    .blog_details_header {
        margin-top: 0;
    }

    .details_quot_text {
        font-size: 18px;
    }

    .blog_details_video {
        height: 400px;
    }

    .blog_center_img {
        height: 400px;
    }

    .details_blooger_text {
        width: 100%;
        margin-top: 25px;
    }

    .blog_det_button li {
        width: 48%;
    }

    .single_comment .text {
        width: 83%;
    }

    .comment_reply .text {
        width: 82%;
    }

    .comment_reply {
        margin-left: 35px;
    }

    .single_comment .text h3 span {
        display: block;
        margin-top: 10px;
        width: 100%;
    }

    /* single blog 1 end */
}

@media (min-width: 576px) and (max-width: 767.99px) {

    /* home page 1 start */
    header {
        height: 60px;
        line-height: 60px;
    }

    header .header_icon {
        justify-content: center;
    }

    .main_menu .menubar_icon {
        display: none;
    }

    .navbar-brand {
        display: block !important;
        width: 150px;
        margin-left: 15px;
    }

    .main_menu .container {
        padding: 11px 0;
    }

    .navbar-toggler {
        margin-right: 15px;
    }

    #navbarSupportedContent {
        background: var(--colorWhite);
        position: relative;
        z-index: 9;
        margin-top: 18px;
        border-bottom: 1px solid var(--colorPrimary);
        padding-top: 20px;
        padding-bottom: 40px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .main_menu .navbar-nav {
        line-height: 60px;
    }

    .main_menu ul .nav-item .nav-link {
        text-align: center;
    }

    .main_menu .search_form {
        width: 80%;
        margin: 0 auto;
        margin-top: 15px;
    }

    .main_menu .droap_menu {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .main_menu .child_category {
        left: 20px;
    }

    .banner_slider_text {
        padding: 20px;
    }

    .banner_slider_img {
        height: 500px;
    }

    .banner_slider_text ul li {
        font-size: 14px;
    }

    .title {
        font-size: 20px;
    }

    .about_img {
        width: 100%;
        left: 0;
    }

    .about_text h2 {
        font-size: 22px;
    }

    .about_text {
        margin-top: 20px;
    }

    .about_text a {
        margin-bottom: 30px;
    }

    .artical_area .margin_right {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .trendy_news_img {
        height: 300px;
    }

    .large_artical_text {
        padding: 20px;
    }

    .large_artical_text a {
        font-size: 20px;
        max-width: 100%;
    }

    .sidebar_popular_post .title {
        font-size: 20px;
    }

    .button_bg {
        padding: 9px 25px;
    }

    .large_artical_img {
        height: 330px;
    }

    .large_artical_text .play_btn {
        bottom: auto;
        top: 50px;
    }

    .single_article_text ul li {
        margin-bottom: 15px;
    }

    .sidebar_about_img {
        height: 360px;
    }

    .sodebar_add {
        height: 300px;
    }

    .sidebar_instagram ul li {
        width: 32%;
        height: 150px;
    }

    .sidebar_popular_post .list li .text a {
        font-size: 16px;
    }

    .sidebar_popular_post .trendy_news_text {
        padding: 20px;
    }

    .weekly_news .single_article_img {
        height: 300px;
    }

    .single_article_text .title {
        margin-top: 0;
    }

    .weekly_news .single_article {
        margin-bottom: 30px;
    }

    .featured_post .title {
        margin-bottom: 15px;
    }

    .subscribe_text h2 {
        font-size: 28px;
    }

    .gallery_item {
        height: 230px;
    }

    .footer_text .footer_menu li a {
        margin: 0px 12px;
    }

    .artical_sidebar {
        margin-top: 60px;
    }

    /* home page 1 end */

    /* home page 2 start */
    .home_2 .main_menu {
        top: 60px;
        background: var(--colorWhite);
    }

    .home_2 .main_menu ul .nav-item .nav-link {
        color: var(--colorBlack);
    }

    .banner_2_text h1 {
        font-size: 36px;
    }

    .banner_2_text .button_bg {
        font-size: 14px;
    }

    .banner_2 {
        height: auto;
    }

    .banner_2_text {
        padding-top: 220px;
    }

    .banner_2_text p {
        margin-top: 100px;
        padding-bottom: 90px;
    }

    .banner_2_text p span {
        font-size: 18px;
    }

    .artical_filter {
        justify-content: center;
    }

    .artical_filter button {
        font-size: 14px;
        margin-right: 20px;
        padding-right: 20px;
        margin-top: 10px;
    }

    .artical_area_2 .heading {
        margin-bottom: 10px;
    }

    .artical_area_2 .common_btn {
        margin-top: 23px;
        font-size: 14px;
    }

    .video .trendy_news_img {
        height: 370px;
    }

    .common_btn {
        font-size: 14px;
    }

    .blog .margin_right {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .single_blog .single_article_text .title {
        margin-top: 20px;
    }

    .footer_text .footer_menu li a {
        font-size: 12px;
        margin: 0px 15px;
    }

    .single_blog .single_article_img {
        height: 330px;
    }

    /* home page 2 end */

    /* about us page start */
    .about_banner {
        height: auto;
    }

    .about_banner_text h2 {
        font-size: 24px;
    }

    .about_banner_text {
        padding-right: 0;
    }

    .about_banner_text.text_2 {
        padding-left: 0;
    }

    .related_post .title {
        font-size: 16px;
    }

    /* about us page end */
    .category_banner_text h1 {
        font-size: 48px;
    }

    .category_banner {
        padding: 240px 0px 90px 0px;
    }

    .category_item .single_article_img {
        height: 290px;
    }

    .category_item .single_article_text {
        margin-top: 20px;
    }

    .contact_img {
        height: auto;
    }

    .contact_form {
        margin-top: 30px;
    }

    .cntact_map {
        height: 300px;
    }

    .error_text .img {
        width: auto;
    }

    .error_text h2 {
        font-size: 42px;
    }

    /* single blog 1 start */
    .blog_details .margin_right {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .blog_details_img {
        height: 350px;
    }

    .author_share {
        display: none;
    }

    .blog_details_header li {
        margin-top: 20px;
        font-size: 14px;
    }

    .blog_details_header li span {
        font-size: 12px;
        padding: 4px 20px;
    }

    .blog_details_header {
        margin-top: 0;
    }

    .details_quot_text {
        font-size: 18px;
    }

    .blog_details_video {
        height: 350px;
    }

    .blog_center_img {
        height: 350px;
    }

    .details_blooger_text {
        width: 100%;
        margin-top: 25px;
    }

    .blog_det_button li {
        width: 48%;
    }

    .single_comment .text {
        width: 77%;
    }

    .comment_reply .text {
        width: 76%;
    }

    .comment_reply {
        margin-left: 35px;
    }

    .single_comment .text h3 span {
        display: block;
        margin-top: 10px;
        width: 100%;
    }

    /* single blog 1 end */

    /* single blog 2 start */
    .blog_details_banner_text h1 {
        font-size: 42px;
    }

    .blog_details_banner_text ul li {
        margin-right: 30px;
    }

    /* single blog 2 end */
}

@media (max-width: 575.99px) {

    /* home page 1 start */
    header {
        height: 60px;
        line-height: 60px;
    }

    header .header_icon {
        justify-content: center;
    }

    .main_menu .menubar_icon {
        display: none;
    }

    .navbar-brand {
        display: block !important;
        width: 150px;
        margin-left: 15px;
    }

    .main_menu .container {
        padding: 11px 0;
    }

    .navbar-toggler {
        margin-right: 15px;
    }

    #navbarSupportedContent {
        background: var(--colorWhite);
        position: relative;
        z-index: 9;
        margin-top: 18px;
        border-bottom: 1px solid var(--colorPrimary);
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .main_menu .navbar-nav {
        line-height: 60px;
    }

    .main_menu ul .nav-item .nav-link {
        text-align: center;
    }

    .main_menu .search_form {
        width: 80%;
        margin: 0 auto;
        margin-top: 15px;
    }

    .main_menu .droap_menu {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .main_menu .child_category {
        left: 20px;
    }

    .banner_slider_text {
        padding: 20px;
    }

    .banner_slider_img {
        height: 400px;
    }

    .banner_slider_text a {
        font-size: 22px;
        line-height: 32px;
    }

    .banner_slider_text ul li {
        font-size: 14px;
    }

    .about_img {
        width: 100%;
        left: 0;
    }

    .about_text h2 {
        font-size: 22px;
    }

    .about_text {
        margin-top: 20px;
    }

    .about_text a {
        margin-bottom: 30px;
    }

    .artical_area .margin_right {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .large_artical_text {
        padding: 20px;
    }

    .large_artical_text a {
        font-size: 22px;
        max-width: 100%;
    }

    .button_bg {
        font-size: 12px;
        padding: 9px 25px;
    }

    .large_artical_img {
        height: 330px;
    }

    .large_artical_text .play_btn {
        bottom: auto;
        top: 50px;
    }

    .single_article_img {
        height: 200px !important;
    }

    .single_article_text ul li {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .title {
        font-size: 18px;
    }

    .sidebar_popular_post .list li .text a {
        font-size: 16px;
    }

    .sidebar_popular_post .trendy_news_text {
        padding: 20px;
    }

    .weekly_news .single_article_img {
        height: 210px;
    }

    .single_article_text .title {
        margin-top: 0;
    }

    .weekly_news .single_article {
        margin-bottom: 30px;
    }

    .subscribe_text h2 {
        font-size: 28px;
    }

    .subscribe_text form {
        flex-wrap: wrap;
    }

    .subscribe_text form button {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }

    .subscribe_text form {
        padding: 15px;
    }

    .artical_sidebar {
        margin-top: 60px;
    }

    .sidebar_popular_post .list li .text {
        width: 66%;
    }

    .featured_post .title {
        margin-bottom: 10px;
    }

    /* home page 1 end */

    /* home page 2 start */
    .home_2 .main_menu {
        top: 60px;
        background: var(--colorWhite);
    }

    .home_2 .main_menu ul .nav-item .nav-link {
        color: var(--colorBlack);
    }

    .banner_2_text h1 {
        font-size: 28px;
    }

    .banner_2_text .button_bg {
        font-size: 14px;
    }

    .banner_2 {
        height: auto;
    }

    .banner_2_text {
        padding-top: 200px;
    }

    .banner_2_text p {
        margin-top: 65px;
        padding-bottom: 85px;
    }

    .banner_2_text p span {
        font-size: 18px;
    }

    .artical_filter {
        justify-content: center;
    }

    .artical_filter button {
        font-size: 12px;
        margin-right: 15px;
        padding-right: 15px;
        margin-top: 10px;
    }

    .artical_area_2 .heading {
        margin-bottom: 10px;
    }

    .artical_area_2 .common_btn {
        margin-top: 23px;
        font-size: 14px;
    }

    .video .trendy_news_img {
        height: 370px;
    }

    .common_btn {
        font-size: 14px;
    }

    .blog .margin_right {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .single_blog .single_article_text .title {
        margin-top: 20px;
    }

    .footer_text .footer_menu li a {
        font-size: 12px;
        margin: 0px 15px;
    }

    /* home page 2 end */

    /* about us page start */
    .about_banner {
        height: auto;
    }

    .about_banner_text h2 {
        font-size: 24px;
    }

    .about_banner_text {
        padding-right: 0;
    }

    .about_banner_text.text_2 {
        padding-left: 0;
    }

    /* about us page end */
    .category_banner_text h1 {
        font-size: 48px;
    }

    .category_banner {
        padding: 240px 0px 90px 0px;
    }

    .contact_img {
        height: auto;
    }

    .contact_form {
        margin-top: 30px;
    }

    .cntact_map {
        height: 250px;
    }

    .error_text .img {
        width: auto;
    }

    .error_text h2 {
        font-size: 28px;
    }

    /* single blog 1 start */
    .blog_details .margin_right {
        padding-right: calc(var(--bs-gutter-x) * .5);
    }

    .blog_details_img {
        height: 200px;
    }

    .author_share {
        display: none;
    }

    .blog_details_header li {
        margin-top: 20px;
    }

    .blog_details_header {
        margin-top: 0;
    }

    .details_quot_text {
        font-size: 18px;
    }

    .blog_details_video {
        height: 250px;
    }

    .blog_center_img {
        height: 250px;
    }

    .blog_tags_area .social li a {
        margin-left: 0;
        margin-right: 10px;
        margin-top: 10px;
    }

    .details_blooger_text {
        width: 100%;
        margin-top: 25px;
    }

    .blog_det_button li {
        width: 48%;
    }

    .blog_det_button li a {
        font-size: 14px;
        padding: 10px 15px;
    }

    .blog_det_button li p {
        font-size: 14px;
    }

    .single_comment .text {
        width: 100%;
        margin-top: 20px;
    }

    .comment_reply {
        margin-left: 35px;
    }

    .single_comment .text h3 span {
        display: block;
        margin-top: 10px;
        width: 100%;
    }

    /* single blog 1 end */

    /* single blog 2 start */
    .blog_details_banner_text h1 {
        font-size: 32px;
    }

    .blog_details_text .details_heading {
        font-size: 24px;
    }

    /* single blog 2 end */
}